.container {
    width: 500px;
    overflow-y: auto;
    height: 68vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.chatProfile {
    position: relative;
    bottom: 33px;
    right: 2px;
    height: 0;
}

.myMessage {
    width: 350px;
    padding: 1px 10px;
    background-color: rgb(47, 60, 66);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    left: 110px;
    margin: 2px 0;
    font-size: 14px;
    position: relative;
}

.hisMessage {
    width: 350px;
    padding: 1px 10px;
    background-color: rgb(226, 242, 247);
    border-radius: 10px;
    color: rgb(66, 66, 66);
    font-weight: bold;
    position: relative;
    left: 30px;
    margin: 2px 0;
    font-size: 14px;
}

.date {
    position: relative;
    left: 220px;
    font-size: 10px;
    width: 140px;
}

