.container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 100vh;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
  }
  
  .chatText {
    box-sizing: border-box;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
  }

  .chatHead {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid rgb(211, 211, 211);
  }
  
  .backArrow  {
    user-select: none;
    transform: rotate(90deg);
    margin: 0 10px 0 0;
    cursor: pointer;
    display: none;
  }
  
  .chatHead p:first-child {
    font-weight: bold;
    position: absolute;
    top: 2px;
  }
  
  .chatHead p:nth-child(2) {
    font-size: 14px;
    position: absolute;
    top: 30px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: rgb(15, 255, 75);
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px 0 0;
  }
  
  .space {
    flex: auto;
  }
  
  .threeDots {
    user-select: none;
    cursor: pointer;
  }
  
  
  .inputField {
    display: flex;
    align-items: center;
    width: 500px;
    border-top: 1px solid rgb(211, 211, 211);
    padding: 10px 0 0 0;
  }
  
  .inputField input {
    border-style: none;
    width: 450px;
    height: 40px;
    margin: 0 0 0 10px;
  }
  
  .inputField input:focus {
    outline: none;
  }
  
  .inputField input::placeholder {
    color: rgb(175, 175, 175);
    font-size: 15px;
  }
  
  .sendIcon {
    user-select: none;
  }


  .sendIcon button {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
  }

  /* Style for the left column */

  .messagesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid lightgray 1px;
  }
  
  .chatHead {
    display: flex;
    align-items: center;
    width: 500px;
    height: 80px;
    justify-content: flex-start;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
    font-weight: bold;
  }
  
  .card {
    display: flex;
    align-items: center;
    width: 500px;
    gap: 10px;
    margin: 10px 0;
    padding: 0 20px;
    cursor: pointer;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .details p {
    margin: 2px 0;
    font-weight: bold;
  }
  
  .details p:first-child {
    font-size: 14px;
  }
  
  .details p:nth-child(2) {
    font-size: 13px;
  }
  
  .details p:nth-child(3) {
    font-size: 11px;
    color: gray;
  }
  
  .space {
    flex: 1;
  }


  @media (max-width: 900px) {
    .messagesList {
      display: none;
    }
    .backArrow {
      display: block;
    }

    .chatText {
      border-left: solid 1px lightgray;
    }
  }